<div class="home">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Soundpoint</a>
            </div>
            <a type="submit" class="btn btn-default" ng-click="logout()" ><span class="glyphicon glyphicon-log-out"></span></a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button ng-click="addPublicStation()" type="button" class="btn btn-default navbar-btn">
                            <div class="glyphicon glyphicon-search"></div> <p>Search station </p>
                        </button>
                        <button ng-click="addNewStation()" type="button" class="btn btn-default navbar-btn">
                            <div class="icon-add"></div> <p>Create new station </p>
                        </button>
                        </li>
                         <button ng-click="addPublicStation()" type="button" class="btn btn-default navbar-btn">
                            Search stations <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </li>
                    <li>
                        <div class="dropdown invitations">
                            <button class="btn btn-default dropdown-toggle navbar-btn" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <p>View invitations</p>
                                <div class="icon-dropdown"></div>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation" class="dropdown-header" ng-repeat="(i,invitation) in invitations">
                                    <h4>{{invitation.stationName}}</h4>
                                    <button class="btn btn-success" ng-click="answerInvitation(i,true)"><span class="glyphicon glyphicon-plus"></span></button>
                                    <button class="btn btn-danger" ng-click="answerInvitation(i,false)"><span class="glyphicon glyphicon-remove"></span></button>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="jumbotron hello-bar">
        <div class="container">
            <h1 id="hello">Hello, {{username}}</h1>
            <p>These are your stations</p>
        </div>
    </div>
    
    <div class="container">
        <p></p>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <ul class="list-group station-list">
                    <li class="list-group-item" ng-repeat="station in stations">
                        <div ng-click="goToStation(station._id, station.stationName, station.type)">
                            <h2>{{station.stationName}}</h2>
                            <p>{{station.type}} station</p>
                        </div>
                        <div>
                            <div type="button" id="delete-removeStation-btn" 
                                    data-loading-text="Loading..." 
                                    ng-click=" removeStation(station)"
                                    class="icon-delete">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <script type="text/ng-template" id="addStationModal.html">
        <div class="modal-header">
            <h3 class="modal-title">New station</h3>
        </div>
        <div class="modal-body">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="nameInput">
                <div class="input-group-btn">
                    <div class="dropdown">
                        <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                            {{station.type}}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-form" role="menu">
                            <li>
                                <input type="radio" ng-click="setType('public')"> public
                            </li>
                            <li>
                                <input type="radio" ng-click="setType('private')"> private
                            </li>
                            <li>
                                <input type="radio" ng-click="setType('voting')"> voting
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Alert!</h3>
        </div>
        <div class="modal-body deleteStation">
            <p>Do you want to leave this station?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="searchStationsModal.html">
       <script type="text/ng-template" id="searchStationsModal.html">
                <div class="modal-header">
                    <h3 class="modal-title">Select friends</h3>
                </div>
                <div class="modal-body">
                    <ul class="media-list">
                        <li class="media" ng-repeat="(i,item) in items ">  
                            <a class="pull-left" href="#">
                                 <img class="media-object" ng-src="{{item.picture.data.url}}" >
                            </a>
                            <div class="float left media-body">
                                <h4 class="media-heading">{{ item.name }}</h4> 
                                <input class="pull-right"  type="checkbox" ng-click="selectFriend(i)">
                            </div>
                        </li>
                    </ul>
                </div>
                    <ul class="list-group">
                    <li class="list-group-item" ng-repeat="(i, publicStation) in publicStations">
                             <h2>{{publicStation.stationName}}</h2>
                            <p>{{publicStation.type}} station</p>
                            <p><button class="btn btn-default" role="button" ng-click="addStation(publicStation)"><span class="glyphicon glyphicon-plus"></span></button></p>  
                        </li>
                    </ul>
                <div class="modal-footer">
                   <button class="btn btn-warning" ng-click="cancel()">Close</button>
                </div>
            </script>
</div>
 
