<div>
    <link href="../lib/bootstrap-3.2.0-dist/css/cover.css" rel="stylesheet">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="inner cover">
                    <h1 class="cover-heading">Share the music you like, together.</h1>
                    <h4> Soundpoint </h4>
                    <p><a ng-click="logIn()" class="btn btn-primary" role="button">Log in with facebook</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>
