<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="logIn">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap core CSS -->
        <link href="./lib/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="./lib/bootstrap-3.2.0-dist/css/cover.css" rel="stylesheet">
    </head>
    <body ng-controller="bodyController">

        <script>
                window.fbAsyncInit = function() {
                    FB.init({
                        appId: '690519131028878',
                        xfbml: true,
                        version: 'v2.0',
                        status: true
                    });
                };

                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {
                        return;
                    }
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>

        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="inner cover">
                        <h1 class="cover-heading">Share the music you like, together.</h1>
                        <h4> Soundpoint </h4>
                        
        
                        <p><a ng-click="logIn()" class="btn btn-primary" role="button">Log in with facebook</a> </p>

                    </div>

                </div>

            </div>

        </div>

        <script src="./lib/angular.min.js" type="text/javascript"></script>
        <script src="./lib/jquery-1.11.1.min.js" type="text/javascript"></script>
        <script src="./lib/bootstrap-3.2.0-dist/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="./js/logInApp.js" type="text/javascript"></script>
    </body>
</html>
