<html lang="en">
    <body>
    <div class="station">
        <!--<div class="navbar-wrapper">
            <div class="container">
                <div class="navbar" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" data-ui-sref="home">Soundpoint</a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav pull-right">
                                <li>
                                    <div class="btn-group">
                                        <button ng-hide="station.type == 'private'" ng-click="openFriendsModal()" type="button" class="btn btn-default navbar-btn">
                                            <span class="glyphicon glyphicon-plus" ></span>
                                            <span class="glyphicon glyphicon-user" ></span>
                                        </button>
                                        <button ng-hide="station.type == 'private'" ng-click=" openDeleteFriendsModal()" type="button" class="btn btn-default navbar-btn">
                                            <span class="glyphicon glyphicon-plus" ></span>
                                            <span class="glyphicon glyphicon-user" ></span>
                                        </button>
                                        <button ng-click="openSongSearchModal()" type="button" class="btn btn-default navbar-btn">
                                            <span class="glyphicon glyphicon-plus" ></span>
                                            <span class="glyphicon glyphicon-music" ></span>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                      </div>
                    </div>
                </div>
            </div>-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Soundpoint</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                     <div class="btn-group">
                        <button ng-hide="station.type == 'private'" ng-click="openFriendsModal()" type="button" class="btn btn-default navbar-btn">
                            <span class="glyphicon glyphicon-plus" ></span>
                            <span class="glyphicon glyphicon-user" ></span>
                        </button>
                        <button ng-click="openSongSearchModal()" type="button" class="btn btn-default navbar-btn">
                            <div class="icon-add-music"></div>
                            <p class="addMusic"> Add Music </p>
                        </button>
                     </div>
                     </li>
                   
                </ul>
            </div>
        </div>
    </nav>
        <div class="container">
            <div class="back">
                <a data-ui-sref="home" class="btn btn-primary" role="button">
                    <div class="icon-back"></div>
                    <p>Back to stations</p>
                </a> 
            </div>
            <hr>
            <div class="jumbotron">
                <div class="img-song" ng-style="{'background-image': 'url(' + currentSong.artwork + ')', 'background-repeat' : 'no-repeat'}"> </div>
                <div class="text-center">
                    <h1 ng-show="songs.length == 0">No songs on this playlist :(</h1>
                    <div ng-hide="songs.length == 0">
                        <h1>{{currentSong.title}}</h1>
                        <p class="lead" ng-hide="currentSong.artist == undefined">
                            by <b>{{currentSong.artist}}</b>
                        </p>
                        <div ng-hide="!owner" >
                            <button type="button" class="btn btn-default btn-lg" ng-click="pause()" ng-hide="isPlaying" >
                                <span class="glyphicon glyphicon-pause" ></span>
                            </button>
                            <button type="button" class="btn btn-default btn-lg" ng-click="play()" ng-hide="!isPlaying">
                                <span class="glyphicon glyphicon-play" ></span>
                            </button>
                            <button type="button" class="btn btn-default btn-lg" ng-click="next()">
                                <span class="glyphicon glyphicon-step-forward" ></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="media-list">
                <li class="media" ng-repeat="(i, song) in songs" >
                    <div ng-show="song.songId != currentSong.songId">
                        <img class="media-object img-rounded img-responsive center-block" ng-src="{{song.artwork  || 'https://cdn1.iconfinder.com/data/icons/appicns/128/appicns_iTunes.png'}}" alt="...">
                        <div class="text-center">
                            <h4 class="media-heading">{{song.title}}</h4><div class="media-body">
                                by {{song.artist}}<br>
                            </div>
                            <div ng-show="station.type == 'voting'">
                                {{song.votes}} votes
                                <button type="button" 
                                        data-loading-text="Loading..." 
                                        class="btn"
                                        ng-click="voteUp(i)">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <hr>
            <div class="footer">
              <p>© Soundpoint 2014</p>
              <a href="http://www.soundcloud.com">
                  <img
                      src="https://developers.soundcloud.com/assets/powered_by_white-7ee4327cfbe5d678897edf6b6c5dd30f.png"
                      alt="Powered by Soundcloud">
              </a>
            </div>

        </div> <!-- /container -->

        <div>
            <script type="text/ng-template" id="fbFriendsModal.html">
                <div class="modal-header">
                    <h3 class="modal-title">Select friends</h3>
                </div>
                <div class="modal-body">
                    <ul class="media-list">
                        <li class="media" ng-repeat="(i,item) in items ">
                            <img class="media-object pull-left" ng-src="{{item.picture.data.url}}" >
                            <div class="float left media-body">
                                <h4 class="media-heading">{{ item.name }}</h4> 
                                <input calss="pull-right"  type="checkbox" ng-click="selectFriend(i)">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>
        </div>
        
        

        <div>
            <script type="text/ng-template" id="songSearchModal.html">
                <div class="modal-header">
                    <h3 class="modal-title">Search</h3>
                    <div class="close" ng-click="close()"> </div>
                </div>
                <div class="modal-body">
                    <input ng-model="searchText" type="search" class="song-search">
                    <button class="btn btn-default search" href="#" role="button" ng-click="search(searchText)">Search</button>
                    <ul class="media-list">
                        <li class="media" ng-repeat="(i, item) in items">
                            <img class="media-object pull-left" ng-src="{{item.artwork || 'https://cdn1.iconfinder.com/data/icons/appicns/128/appicns_iTunes.png'}}">
                            <div class="float left media-body">
                                <h4 class="media-heading">{{ item.title }}</h4>
                                <p><button class="btn btn-default pull-right addnewSong" role="button" ng-click="addSong(item)"><div class="icon-add"></div></button></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </script>
        </div>
    </div>
    </body>
</html>