<div>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Soundpoint</h1>
      </div>
      <p class="lead">We love music too. Soundpoint is an app we'd like to use, so we're building it.</p>
      <p>We'll try to finish it shortly!</p>
    </div>

    <div class="footer">
      <div class="container">
        <p class="text-muted">Soundpoint, 2014.</p>
      </div>
    </div>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</div>